gnostr
gnostr-act
gnostr-cli
gnostr-command
gnostr-get-relays
gnostr-git
gnostr-git-instaweb
gnostr-grep
gnostr-legit
gnostr-set-relays
gnostr-sha256
src/nostril/libnostri.a
src/nostril/nostril


## libnostr.a
## src/nostril/libnostri.a

## Cargo.lock
## Cargo.toml

## GIT-VERSION-FILE

## src/nostril/nostril

http_client
http_relay
nostro

cmake_install.cmake
CMakeFiles/

nostro.log.txt
server.crt
server.key

vostro
vostro.log.txt

list_01.txt
list_02.txt
CHANGELOG
KEYS

!deps/gnostr-git/config.*
*.o
/.direnv/
.privenv

*.dylib

install_manifest.txt
response.txt
src/nostril/Makefile

Makefile
CMakeCache.txt

a.out
jsmin

gnostr-*.*.*-*-*
dist/gnostr-*.*.*-*-*
dist-*
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

*.json

dist
.dist-*

**.DS_Store
deps/.DS_Store

ext/boost_1_82_0
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config-version.cmake
ext/secp256k1-0.3.2/src/libsecp256k1-config.cmake

ext/wt-4.10.0/wt-config-version.cmake
ext/wt-4.10.0/wt-config.cmake

ext/wxWidgets-3.2.2.1


deps/gnostr-proxy/resources/js/isomophic-git/__tests__/


## libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

bin

.gnostr/gnostr-proxy
.nvmrc
.gnostr/proxy
.gnostr

.github/.DS_Store
.github/workflows/.DS_Store
