[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/bitcoin/secp256k1.git
	branch = master
	ignore = dirty
[submodule "deps/hyper-nostr"]
	path = deps/hyper-nostr
	url = https://github.com/gnostr-org/hyper-nostr.git
	branch = master
	ignore = dirty
[submodule "deps/hyper-sdk"]
	path = deps/hyper-sdk
	url = https://github.com/gnostr-org/hyper-sdk.git
	branch = master
	ignore = dirty
[submodule "gnostr-cat"]
	path = deps/gnostr-cat
	url = https://github.com/gnostr-org/gnostr-cat.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-aio"]
	path = deps/gnostr-aio
	url = https://github.com/gnostr-org/gnostr-aio.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-py"]
	path = deps/gnostr-py
	url = https://github.com/gnostr-org/gnostr-py.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-git"]
	path = deps/gnostr-git
	url = https://github.com/gnostr-org/gnostr-git.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-legit"]
	path = deps/gnostr-legit
	url = https://github.com/gnostr-org/gnostr-legit.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-proxy"]
	path = deps/gnostr-proxy
	url = https://github.com/gnostr-org/gnostr-proxy.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-relay"]
	path = deps/gnostr-relay
	url = https://github.com/gnostr-org/gnostr-relay.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-grep"]
	path = deps/gnostr-grep
	url = https://github.com/gnostr-org/gnostr-grep.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-command"]
	path = deps/gnostr-command
	url = https://github.com/gnostr-org/gnostr-command.git
	branch = master
	ignore = dirty
[submodule "nips"]
	path = nips
	url = https://github.com/gnostr-org/nips.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-hyp"]
	path = deps/gnostr-hyp
	url = https://github.com/gnostr-org/gnostr-hyp.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-sha256"]
	path = deps/gnostr-sha256
	url = https://github.com/gnostr-org/gnostr-sha256.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-cli"]
	path = deps/gnostr-cli
	url = https://github.com/gnostr-org/gnostr-cli.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-act"]
	path = deps/gnostr-act
	url = https://github.com/gnostr-org/gnostr-act.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-lfs"]
	path = deps/gnostr-lfs
	url = https://github.com/gnostr-org/gnostr-lfs.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-cat"]
	path = deps/gnostr-cat
	url = https://github.com/gnostr-org/gnostr-cat.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-org"]
	path = deps/gnostr-org
	url = https://github.com/gnostr-org/gnostr-org.git
	branch = master
	ignore = dirty
[submodule "deps/gnostr-web"]
	path = deps/gnostr-web
	url = https://github.com/gnostr-org/gnostr-web.git
	branch = master
	ignore = dirty
[submodule "web"]
	path = web
	url = https://github.com/gnostr-org/gnostr-web.git
	branch = master
	ignore = dirty
