CHANGELOG
KEYS
!deps/git/config.*
*.o
/.direnv/
.privenv
gnostr
/result
configurator.out*
configurator
.build-result
.buildcmd
!config.h
tags
/target

Cargo.lock
Cargo.toml
*.json
scripts/jb55-post
scripts/nostr-follows
scripts/nostr-req
scripts/subnote
/dist

**.DS_Store
deps/.DS_Store
deps/build/

libgit.a
libjq.a
libtclstub.a
libsecp256k1.a

nostcat
