name: gpg-recv-keys-bitcoin-devs

on:
  push:
    branches: [ "master", "main" , "**", "**/**" ]
  pull_request:
    branches: [ "master", "main" , "**", "**/**" ]
  schedule:
    - cron: '1 0 */1 * *'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: .functions
      run: |
          sudo apt-get install gnupg
          . .functions && gpg-recv-keys-bitcoin-devs
          cat builder-keys.txt | openssl dgst -sha256 > builder-keys.sha256.txt && git diff
          gpg --sign builder-keys.txt
