name: Makefile CI

on:
  push:
    branches: [ "master", "main" , "**", "**/**" ]
  pull_request:
    branches: [ "master", "main" , "**", "**/**" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: autogen.sh
      run: |
          sudo apt-get install autotools-dev autoconf automake libtool m4
          sudo apt-get install build-essential
          ./autogen.sh

    - name: configure
      run: |
          ./configure

    - name: make
      run: |
          make

    - name: make brew vim
      run: |
          make brew vim
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install gcc

    - name: make template
      run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          make template $$ checkbrew -h



