name: Makefile CI

on:
  push:
    branches: [ "master", "main" , "**", "**/**" ]
  pull_request:
    branches: [ "master", "main" , "**", "**/**" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: git fetch
      run: |
          git fetch

    - name: autogen.sh && configure
      run: |
          sudo apt-get install autotools-dev autoconf automake libtool m4
          sudo apt-get install build-essential
          ./autogen.sh && ./configure 

    - name: make bootstrap
      run: |
          make
          make bootstrap

    - name: make brew
      run: |
          make brew
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew install gcc

    - name: make template
      run: |
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)" && make template && checkbrew -h
          make all

    - name: make nvm
      run: |
          make nvm && [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" && \
                                            nvm install 10

    - name: .functions
      run: |
          sudo apt-get install gnupg
          # source .functions && gpg-recv-keys-bitcoin-devs
          source .functions && bitcoin-dl-install-depends



