node_modules
**.DS_Store
bash_profile.log
**demo/.DS_Store
demo/bash_profile.log
**pnpm-lock.yaml
reflog
.nvmrc
.gnostr/proxy
.gnostr/web

Makefile
CMakeFiles/
cmake_install.cmake
wostro
CMakeCache.txt
wostro.log.txt
